@{
    ViewData["Title"] = "Dashboard";
}

<div id="dashboardStats" class="row g-4 mb-5">
    <!--Cards go here-->
</div>

<br />

<h3>Recent Tasks</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody id="recentTasksBody">
        <!--Tasks go here-->
    </tbody>
</table>

@section Scripts {
    <script src="~/js/dashboard.js" defer></script>
}
